* {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d4c36a;
    height: 10vh;
    font-size: 5vmin;
    flex-wrap: wrap;
}

header > * {
    padding: 0vmin 2vmax;
}

main {
    display: flex;
    background-color: #123652;
    height: 90vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.coolWave {
    /* background-repeat: no-repeat; */
    aspect-ratio: 900/100;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #123652;
}

.coolWave:nth-of-type(1) {
    background-image: url(../img/quizWaveTop.svg);
}

.coolWave:nth-of-type(2) {
    background-image: url(../img/quizWaveBottom.svg);
}

.quiz {
    background-color: white;
    height: 100%;
    width: 90%;
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
}

.question {
    font-size: 5vmin;
    width: 100%;
    height: 100%;
}

#questionText {
    text-align: center;
    padding: 2vh 1vw;
}

.answerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.button {
    display: inline;
    position: relative;
    color: black;
    transition: all 0.5s;
    background-color: #d4c36a;
    border-radius: 10px;
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
}

.button span {
    transition: all 1s;
    transform: scale(1, 1);
}

.buttonContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 2vmin 5vmax;
}

.answer::before {
    opacity: 0;
    background: rgba(20, 192, 149, 0.4);
    transform: scale(1, 0.1);
}

.answer:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

#highScores {
    color: black;
    border-radius: 10px;
}

#highScores:hover {
    color: #549e70;
}

#timeLeft {
    display: inline-flex;
    background-color: #123652;
    color: white;
    border-radius: 10px;
    padding: 0 1vw;
    justify-content: center;
    align-items: center;
}

.congrats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
}
.score {
    font-size: 3vmin;
}

.scoreButtons {
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.continue {
    padding: 0vmin 5vmax;
    max-width: 30%;
    text-align: center;
}

.continue::before {
    opacity: 0;
    background: rgba(105, 43, 248, 0.4);
    transform: scale(1, 0.1);
}

.continue:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 2vmin;
    padding: 1vh 2vw;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 3vh;
}

.score {
    font-size: 5vh;
}
.scoreboard {
    display: flex;
    width: 50%;
    font-size: 5vh;
    flex-wrap: wrap;
}

.scoreboardWrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}
.correctWrong {
    width: 100%;
    text-align: center;
}

.finalPage {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    border-radius: 2vmin;
    padding: 1vh 2vw;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3vh;
}
